{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container text-center">
    <div class="row">
        <div class="col-8">
            <h1>Yeets!</h1>

            {% for yeet in yeets %}
                
            <div class="alert alert-dark" role="alert">
                <div class="container">
                    <div class="row">
                        <div class="col-1">
                          {% if yeet.user.profile.profile_image %}
                                <img src="{{ yeet.user.profile.profile_image.url }}" width=50 height=50 class="rounded-circle" alt="{{ profile.user.username }}">
                
                                {% else %}
                                <img src="{% static 'images/user.png' %}" width=50 height=50 class="rounded-circle" alt="{{ profile.user.username }}">	
                                {% endif %}
                        </div>
                
                        <div class="col-11">
                          {{ yeet.body }}<br/>
                          <small class="text-muted">
                              ({{ yeet.created_at}}) By 
                              @{{ yeet.user.username }}
                
                          </small>
                        </div><br/><br/>
                
                            </div>
                        </div>
                    </div>

            {% endfor %}
</div>

<div class="col-4" style="margin-top: 50px;">
    {% if form %}
    <form method=POST>
        {% csrf_token %}
        {{ form.as_p }}
    
        <button type="submit" class="btn btn-primary">Yeet!</button>
      </form>
      {% endif %}
</div>

{% endblock %}