{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1 class="profile_list_title">Profiles:</h1>
<div class="profile-list-container text-center">
{% if profiles %}
    {% for profile in profiles %}
  
    <div class="card mb-3 profile_list">
        <div class="row g-4">
          <div class="col-md-4">

            {% if profile.profile_image %}
            <img src="{{profile.profile_image.url}}" alt="{{profile.user.username}}" class="profile_img">
           
            {% else %}

            <img src="{% static 'images/user.png' %}" class="img-fluid rounded-start" alt="Profile Image">

            {% endif %}
            
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ profile.user.username }}</h5>
              <p class="card-text"><a href="{% url 'profile' profile.user.id %}"> @{{ profile.user.username|lower }}</a></p>
              <p class="card-text"><small class="text-body-white">Last Updated: {{ profile.date_modified }}</small></p>
            </div>
          </div>
        </div>
      </div>

    {% endfor %}

{% endif %}
</div>

{% endblock %}