{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container text-center">
    <h2 class="search-title">Search User</h2>

    <div class="text-center search-form"> 
        <form method="POST"> 
            {% csrf_token %}
        <div class="input-group">
            <span class="input-group-text"><i class="fas fa-user"></i></span>
            <input type="input" class="form-control search-input" placeholder="Search User" name="search">
        </div>
            <button type="submit" class="btn btn-success search-btn">Search</button>
        </form>
    </div>

    {% if search %}
        <h3>You searched for: {{ search }}</h3>
    {% endif %}

    <div class="search-result"> 
        {% if searched %}
            {% for result in searched %}
            <div class="card mb-3 search-card">
                <div class="row g-0">
                    <div class="col-md-4">
                        {% if result.profile.profile_image %}
                        <img src="{{ result.profile.profile_image.url }}" alt="{{ result.profile.user.username }}" class="img-fluid rounded-start">
                        {% else %}
                        <img src="{% static 'images/user.png' %}" class="img-fluid rounded-start" alt="Profile Image">
                        {% endif %}
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ result.profile.user.username }}</h5>
                            <p class="card-text"><a href="{% url 'profile' result.profile.user.id %}">@{{ result.profile.user.username|lower }}</a></p>
                            <p class="card-text"><small class="text-body-secondary">Last Updated: {{ result.profile.date_modified }}</small></p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            {% if searched == None %}
            {% else %}
            <p>Sorry, no such user. Please try again.</p>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}