{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container text-center" style="margin-top: 50px;">
    <div class="row">
        <div class="col-8">             
            <div class="alert alert-dark" role="alert">
                <div class="container">
                    <div class="row">
                        <div class="col-1">
                            {% if yeet.user.profile.profile_image %}
                                <img src="{{ yeet.user.profile.profile_image.url }}" width=50 height=50 class="rounded-circle" alt="{{ profile.user.username }}">
                            {% else %}
                                <img src="{% static 'images/user.png' %}" width=50 height=50 class="rounded-circle" alt="{{ profile.user.username }}">	
                            {% endif %}
                        </div>
                        <div class="col-11">
                            {{ yeet.body }}<br/>
                            <small class="text-muted">
                                ({{ yeet.created_at}}) By 
                                @{{ yeet.user.username }}
                                - {{ yeet.number_of_likes }} Likes - {{ user }}
                                {% if user in yeet.likes.all %}
                                    <a href="{% url 'yeet_like' yeet.id %}">
                                        <i class="fa-solid fa-bell" style="color: rgb(85, 0, 76)"></i>
                                    </a>
                                {% else %}
                                    <a href="{% url 'yeet_like' yeet.id %}">
                                        <i class="fa-regular fa-bell" style="color: rgb(85, 0, 76)"></i>
                                    </a>
                                {% endif %}
                            </small>
                        </div><br/><br/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
